{% extends "base.html" %}
{% block conteudo %}
<div class="card">
    <div class="card-body">
        <h2>Cadastro de Categoria</h2>
        <hr>
        <form action="/admin/categorias/cadastrar" method="post">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome da Categoria" required>
                <label for="nome">Nome da Categoria</label>
            </div>
            <button type="submit" class="btn btn-primary me-2">Cadastrar Categoria</button>
            <a href="/admin/categorias" class="btn btn-secondary">Cancelar Cadastro</a>
        </form>
    </div>
</div>
{% endblock %}