.table th,
.table td {
    vertical-align: middle !important;
}

.table-admin th:first-of-type,
.table-admin td:first-of-type,
.table-admin th:last-of-type,
.table-admin td:last-of-type {
    width: 1%;
    white-space: nowrap;
}

.center-column-1 th:nth-child(1),
.center-column-1 td:nth-child(1),
.center-column-2 th:nth-child(2),
.center-column-2 td:nth-child(2),
.center-column-3 th:nth-child(3),
.center-column-3 td:nth-child(3),
.center-column-4 th:nth-child(4),
.center-column-4 td:nth-child(4),
.center-column-5 th:nth-child(5),
.center-column-5 td:nth-child(5),
.center-column-6 th:nth-child(6),
.center-column-6 td:nth-child(6) {
    text-align: center;
    width: 1%;
    white-space: nowrap;
}