{% extends "base.html" %}
{% block conteudo %}
<div class="d-flex align-items-center justify-content-between">
    <h1>Produtos</h1>
    <a href="/admin/produtos/cadastrar" class="btn btn-primary">Novo Produto</a>
</div>
<hr>
<table class="table table-striped table-admin center-column-1 center-column-6">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for produto in produtos %}
        <tr>
            <td>{{"{:06d}".format(produto.id)}}</td>
            <td>{{produto.nome}}</td>
            <td>{{produto.categoria_nome}}</td>
            <td>{{produto.descricao}}</td>
            <td>R$ {{produto.preco}}</td>
            <td>{{produto.quantidade}}</td>
            <td class="text-center">
                <a href="/admin/produtos/detalhar/{{produto.id}}" class="btn btn-info btn-sm" title="Ver Detalhes"><i class="bi-eye"></i></a>
                <a href="/admin/produtos/alterar/{{produto.id}}" class="btn btn-success btn-sm" title="Alterar"><i class="bi-pencil"></i></a>
                <a href="/admin/produtos/excluir/{{produto.id}}" class="btn btn-danger btn-sm" title="Excluir"><i class="bi-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}